body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245, 245, 238);
}
h1 {
  text-align: center;
}
.book_topics {
  flex-wrap: nowrap !important;
}
.boxs1 {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(213, 207, 207);
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  width: fit-content !important;
}
.image-1 {
  width: 20%;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: size 20px;
  margin-right: 20px;
  text-align: center;
}
.active {
  text-align: center;
}
.logo {
  width: 60px;
  height: 60px;
  padding: 10px;
}
.nav-item {
  text-align: center;
}
.nav1 {
  text-align: center;
  margin: auto;
}
.navheader {
  display: flex;
  flex-direction: row;
}
.topnav {
  text-align: center;
  margin-top: 18px;
  text-decoration: none;
}
.topnav a {
  color: black;
/*   padding: 50px; */
  padding -left: 50px;
}
.navcol a {
  text-decoration: none;
  font-size: 21px;
}
.container-fluid {
  background-color: lightpink;
}

